@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rammetto+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
 }
 
 body{
    background: #eee;
 }

.header {
    background-color: #8fd1ae;
    position: sticky;
    top: 0;

}

.menu {
    background-color: #8fd1ae;
    font-family: "Lato", sans-serif;
    display: inline-flex;
    font-size: 20px;
}

.menu a {
    text-decoration: none;
    color: aliceblue;
    padding: 0 10px;
}

.menu a:hover {
    background-color: #fff;
    color: #8fd1ae;
    border-radius: 15px;
}

.menu a.active {
    background-color: #fff;
    color: #8fd1ae;
    border-radius: 15px;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 2rem;
 }
 
 .title{
    font-size: 3.5rem;
    color:#444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
 }


 .container .curse-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
 }

.container .curse-container .curse{
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
    border-radius: 15px;
}

.container .curse-container .curse .info{
    font-weight: bold;
}

.container .curse-container .curse p{
    font-size: 1.5rem;
}

.container .curse-container .curse img{
    height: 175px;
 }

 .container .curse-container .curse:hover{
    outline: .2rem solid #8fd1ae;
    outline-offset: 0;
 }
 
 .container .curse-container .curse:hover img{
    transform: scale(.9);
 }
 
 .container .curse-container .curse h3{
    padding:.5rem 0;
    font-size: 2rem;
    color:#444;
 }

 .container .curse-container .curse:hover h3{
    color:#8fd1ae;
 }

